html,
body {
  font-family: "Roboto", "Helvetica", sans-serif;
  background-color: #f5f5f5;
}

.mdl-card {
  overflow: visible;
}

.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
.quickstart-user-details-container {
  margin-top: 20px;
  line-height: 25px;
}
#quickstart-sign-in-status {
  font-weight: bold;
}

h3 {
  background-size: 40px;
  padding-left: 50px;
  color: white;
}
